<div class="container">

    <div class="row">
      
       <div class="col1 col-xs-12 col-sm-4 col-md-4 col-lg-4 titulo">
          <br/><br/> <br/>
          <h1>{{persona.nombre}} {{persona.apellido}} <i class="fa fa-regular fa-pen-to-square"></i></h1>
          <h2>Full Stack developer Jr</h2>
       </div>
       <div class="col2 col-xs-12 col-sm-8 col-md-8 col-lg-8 titulo">
         <br/><br/>
         <br/><i class="fas fa-light fa-trash-can"></i> <i class="fa2 fa-regular fa-pen-to-square"></i> 
         <h1>Acerca de mí</h1>
         <p></p>
         
       </div>

    </div>

</div>
