<div class="container">

  <div class="row" *ngFor="let perso of persona">
    <div class="col1 col-xs-12 col-sm-4 col-md-4 col-lg-4 titulo">
      <br /><br /> <br />
      <h1 class="nombre">{{perso.nombre}} {{perso.apellido}}</h1>
      <h2>{{perso.titulo}}</h2>
    </div>
    <div class="col2 col-xs-12 col-sm-8 col-md-8 col-lg-8 titulo">
      <br /><br />
      <h3>Acerca de mí</h3>
      <p>{{perso.descripcion}}</p>

      <div *ngIf="isLogged">
        <button class="btn outline:none" routerLink="editper/{{perso.id}}">
          <i class="fa2 fa-regular fa-pen-to-square"></i></button>
        <!--<button type="button" class="btn outline:none titulo" routerLink="/nuevaper" *ngIf="isLogged">
          <i class="fa fa-solid fa-plus"></i></button>-->
        
        <!--<button class="btn outline:none titulo" (click)="delete(perso.id)">
          <i class="fas fa-light fa-trash-can"></i></button>-->
          <!--se anulo el boton de nueva persona y eliminar para que solo se pueda editar, ya que no es necesrio traer una lista de personas ni eliminar-->
      </div>
    </div>
  </div>
</div>