<div class="container">
    <div class="row">
      
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 titulo">
      <h3 class="exp">Experiencia Laboral</h3>
      <br/>
      <ul>
        <li><i class="fas fa-light fa-trash-can" routerLink="nuevaExp"></i> <i class="fa2 fa-regular fa-pen-to-square"></i>
            <h4>Vangent SA</h4>
            <h4>2006-2010</h4>
            <p>Operadora de atención al cliente. Tareas realizadas: Atención de reclamos, brindar información acerca del servicio, retención de clientes, cobranzas.</p>
        </li>

        <li><i class="fas fa-light fa-trash-can"></i> <i class="fa2 fa-regular fa-pen-to-square"></i>
            <h4>Lovely - Indumentaria Femenina</h4>
            <h4>2011-2015</h4>
            <p>Ventas de mostrador, facturación.</p>
        </li>
        <li><i class="fas fa-light fa-trash-can"></i> <i class="fa2 fa-regular fa-pen-to-square"></i>
            <h4>Unidata - Soluciones Informáticas</h4>
            <h4>2016-2022</h4>
            <p>Ventas de mostrados, facturación, contacto con proveedores.</p>
        </li>
      </ul>
    </div>
    </div>
</div>

