<div class="container">
  <div class="row">
    <div class="titulo">
      <h3 class="exp">Experiencia Laboral</h3>
      <br><br>
      <table class="table table-borderless titulo">
        <tbody>
          <tr *ngFor="let Experiencia of expe">
            <td>
              <h4><br>{{Experiencia.anioE}}</h4>
            </td>
            <td>
              <h4><br>{{Experiencia.empresaE}}</h4>
            </td>
            <td>
              <h4><br>{{Experiencia.puestoE}}</h4>
            </td>
            <td>
              <h4><br>{{Experiencia.tareasE}}</h4>
            </td>
            <td *ngIf="isLogged">
              <button type="button" class="btn outline:none titulo" routerLink="/nuevaexp" *ngIf="isLogged">
                <i class="fa fa-solid fa-plus"></i></button>

              <button class="btn outline:none" routerLink="editexp/{{Experiencia.id}}">
                <i class="fa2 fa-regular fa-pen-to-square"></i></button>

              <button class="btn outline:none titulo" (click)="delete(Experiencia.id)">
                <i class="fas fa-light fa-trash-can"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>