

<div class="container" *ngIf="editedu">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <br>
                <div class="form-group">
                    <label for="institucionEdu">Institución</label>
                    <input type="text" class="form-control" id="institucionEdu" name="institucionEdu" [(ngModel)]="editedu.institucionEdu" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="tituloEdu">Titulo</label>
                    <input type="text" class="form-control" id="tituloEdu" name="tituloEdu" [(ngModel)]="editedu.tituloEdu" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="infoEdu">Información adicional</label>
                    <input type="text" class="form-control" id="infoEdu" name="infoEdu" [(ngModel)]="editedu.infoEdu" required>
                </div>
                <br>
                <button class="btn btn-dark">Editar educación</button>
            </form>
        </div>
    </div>
</div>