<div class="container">
  <div class="row">
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h3 class="edu">Educación</h3>
    <br/>
    <ul>
      <li>
          <h4>Educa1</h4>
          <h4>Institucion</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, sapiente necessitatibus enim maiores itaque accusamus nesciunt architecto, quae at sunt voluptatibus minima voluptates exercitationem natus qui a! Sunt, voluptas amet!</p>
      </li>

      <li>
          <h4>Educa2</h4>
          <h4>Institucion</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, sapiente necessitatibus enim maiores itaque accusamus nesciunt architecto, quae at sunt voluptatibus minima voluptates exercitationem natus qui a! Sunt, voluptas amet!</p>
      </li>
      <li>
          <h4>Educa3</h4>
          <h4>Institucion</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, sapiente necessitatibus enim maiores itaque accusamus nesciunt architecto, quae at sunt voluptatibus minima voluptates exercitationem natus qui a! Sunt, voluptas amet!</p>
      </li>
    </ul>
  </div>
  </div>
</div>
