<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 titulo">
      <h2 class="exp">Educación</h2>

      <button type="button" class="btn btn-outline-success titulo" routerLink="/newedu" *ngIf="isLogged">
        <i class="fa-solid fa-square-plus"></i> Nueva Experiencia</button>
      <br /><br />
    </div>

    <table class="table table-borderless titulo">

      <thead class="titulo">
        <tr>
          <th><h4>Titulo:</h4></th>
          <th><h4>Institución:</h4></th>
          <th><h4>Información adicional:</h4></th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Educacion of edu">

          <td>
            <h4><br>{{Educacion.institucionEdu}}</h4>
          </td>
          <td>
            <h4><br>{{Educacion.tituloEdu}}</h4>
          </td>
          <td>
            <h4><br>{{Educacion.infoEdu}}</h4>
          </td>
          

          <td *ngIf="isLogged">
            <button class="btn btn-light titulo" routerLink="editedu/{{Educacion.id}}" *ngIf="isLogged">
              <i class="bi bi-pencil-fill"></i> Editar</button>
          </td>

          <td *ngIf="isLogged">
            <button class="btn btn-danger titulo" (click)="delete(Educacion.id)" *ngIf="isLogged">
              <i class="bi bi-trash-fill"></i> Borrar</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>









<!--<div class="container">
  <div class="row">
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 titulo">
    <h3 class="edu">Educación</h3>
    <br/>
    <ul>
      <li><i class="fas fa-light fa-trash-can"></i> <i class="fa2 fa-regular fa-pen-to-square"></i>
          <h4>Perito Mercantil</h4>
          <h4>Instituto French</h4>
          <p>Educación Secundaria Completa.</p>
      </li>

      <li><i class="fas fa-light fa-trash-can"></i> <i class="fa2 fa-regular fa-pen-to-square"></i>
          <h4>Lic. en Comercio Internacional</h4>
          <h4>Universidad Nacional de la Matanza</h4>
          <p>Educación Universitaria Incompleta.</p>
      </li>
      <li><i class="fas fa-light fa-trash-can"></i> <i class="fa2 fa-regular fa-pen-to-square"></i>
          <h4>Taller de Creación de Página Web</h4>
          <h4>La Casa de la Cultura</h4>
          <p>Completo.</p>
      </li>
      <li><i class="fas fa-light fa-trash-can"></i> <i class="fa2 fa-regular fa-pen-to-square"></i>
        <h4>Full Stack Developer Jr</h4>
        <h4>Plan Nacional de formación en programación</h4>
        <p>Completo.</p>
    </li>
    </ul>
  </div>
  </div>
</div>-->
