<div class="container titulo">
    <h3>Mis Proyectos</h3>
    <br/><i class="fas fa-light fa-trash-can"></i> <i class="fa2 fa-regular fa-pen-to-square"></i>
<div class="card mb-3" style="max-width: 650px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/fondo5.jpg" class="img-fluid rounded-start" alt="proyecto primero">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Proyecto primero</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
        </div>
      </div>
      </div>
  </div>
</div>
<!--<i class="fas fa-light fa-trash-can text-danger"></i> <i class="fa2 fa-regular fa-pen-to-square text-info"></i>-->