<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreS">Nombre de la habilidad</label>
                    <input type="text" class="form-control" placeholder="Ingrese el nombre de la habilidad y el pocentaje de la misma" id="nombreS" name="nombreS" [(ngModel)]="nombreS" required>
                </div>
                <br/>
                <div class="form-group">
                    <label for="porcentajeS">Porcentaje de la habilidad</label>
                    <input type="text" class="form-control" placeholder="Vuelva a ingresar el porcentaje" id="porcentajeS" name="porcentajeS" [(ngModel)]="porcentajeS" required>
                </div>
                <br/>
                
                <button class="btn btn-primary">
                    Agregar habilidad
                </button>
            </form>
        </div>
    </div>
</div>
