<div class="container titulo">
  <h3>Hard and Soft Skills</h3>
  <br>
  <button type="button" class="btn outline:none titulo" style="color: green; font-size: 19px;" routerLink="/nuevaskill"
    *ngIf="isLogged">
    <i class="fa fa-solid fa-plus"></i> Nueva habilidad</button>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngFor="let skill of skills">

      <div class="progress mb-4">
        <div class="progress-bar progress-bar bg-info" role="progressbar" [style.width.%]="skill.porcentajeS"
          aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="color: black; font-size: 15px">
          {{skill.nombreS}}</div>
      </div>
      <button type="button" class="btn outline:none" routerLink="editskill/{{skill.id}}" *ngIf="isLogged">
        <i class="fa2 fa-regular fa-pen-to-square"></i></button>

      <button type="button" class="btn outline:none titulo" (click)="delete(skill.id)" *ngIf="isLogged">
        <i class="fas fa-light fa-trash-can"></i></button>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      </div>
    </div>
  </div>