h3 {
    margin-top: 45px;
    text-shadow: grey 0 0 10px;
}

h4 {
    margin-top: 50px;
}

.fa2 {
    font-size: 20px;
    float: right;
    margin: 3px;
    cursor: pointer;
    color: deepskyblue;
}

.fas {
    font-size: 20px;
    float: right;
    margin: 3px;
    cursor: pointer;
    color: crimson;
}

.fa {
    font-size: 20px;
    float: right;
    margin: 3px;
    cursor: pointer;
    color: forestgreen;
}