.container {
    /*background-image: url(../../../assets/fondo.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.bi {
    color: white;
}

a {
    float: right;
    margin-top: 30px;
    margin-left: 10px;
}

.btn {
    float: right;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

#perfil {
    filter: grayscale();
    margin-left: 80px;
    margin-top: 170px;

}

@media (max-width: 740px) {
    .logos {
        display: inline-block;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 412px) {
    #perfil {
        margin-top: 100px;
        margin-left: 45px;
        align-items: center;

    }
}

.fa {
    color: white;
    float: right;
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
}

.edit {
    color: white;
    font-size: 25px;
    cursor: pointer;

}

.fa2 {
    font-size: 22px;
    float: right;
    cursor: pointer;
    color: deepskyblue;
}